<br><h2>Details</h2><br>
<hr>
<div *ngIf="mars">
    <div class="row">
      <div class="col-md-3">Name :  <span>{{ mars.name }}</span></div>
      <div class="col-md-3">Created : {{ mars.created }}</div>
      <div class="col-md-3">Diameter : {{ mars.diameter }}</div>
      <div class="col-md-3">Film : {{ mars.films}}</div>
    </div>
    <div class="row">
      <div class="col-md-3">Gravity : {{ mars.gravity }}</div>
      <div class="col-md-3">Orbital Period : {{ mars.orbital_period }}</div>
      <div class="col-md-3">Population : {{ mars.population }}</div>
      <div class="col-md-3">Resident : {{ mars.residents }}</div>
    </div>
    <div class="row">
      <div class="col-md-3">Rotaion Period : {{ mars.rotation_period }}</div>
      <div class="col-md-3">Surface Water : {{ mars.surface_water }}</div>
      <div class="col-md-3">Terrain : {{ mars.terrain }}</div>
      <div class="col-md-3">Url : {{ mars.url }}</div>
    </div><br>
</div>



